* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    font-family: 'helvetica', sans-serif;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(/image/img1.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
form{
    justify-content: center;
    align-items: center;
    line-height: 10vw;
    width: 70vw;
    height: 40vh;
    transform:scaleX(1.5) ;
}
#text{
    width: 30vw;
    height: 35vh;
}
#btn {
    background-color: grey;
    border: none;
    border-radius: 10px;
    width: 10vw;
    height: 7vh;
    font-size: 20px;
}
#btn:hover{
    background-color: green;
    border:none ;
    border-radius: 10px;
}